@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 2.5rem;
}

/* Swiper Button Style */
.swiper-button-prev,
.swiper-button-next {
    color: white;
    background-color: #0059b1;
    border-radius: 100%;
    position: absolute;
    top: 40%;
    width: 40px;
    height: 40px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
}

.swiper-button-prev {
    left: -20px;
}

.swiper-button-next {
    right: -20px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 20px;
}

.swiper-pagination-bullet-active {
    background: #f06224;
}